.thor-container {
    display: grid;
    grid-template-columns: 300px 300px;
    grid-auto-rows: auto;
    justify-content: center;
    align-items: center;
    grid-gap: 8px;
    grid-template-areas: 
        "lightning madness"
        "power hammer"
        "inscription mightiest-warrior"
}

.thor-container.flash-back {
    grid-template-areas: 
        "power mightiest-warrior"
        "madness lightning"
        "inscription hammer"
}

.thor-container.hammer-transform {
    grid-template-areas: 
        "hammer inscription"
        "lightning madness"
        "power mightiest-warrior"
}

.thor-1 {
    grid-area: lightning;
}
.thor-2 {
    grid-area: madness;
}
.thor-3 {
    grid-area: power;
}
.thor-4 {
    grid-area: hammer;
}
.thor-5 {
    grid-area: inscription;
}
.thor-6 {
    grid-area: mightiest-warrior;
}

/* Non grid-related styles */
html, body {
    margin: 0;
}

.thor-container img {
    width: 100%;
    max-width: 300px;
    height: auto;
}

.buttons {
    background: rgb(228, 208, 94);
    color: #000;
    width: 100%;
    display: flex;
    padding: 10px;
    justify-content: center;
}

.buttons button {
    background: #fff;
    border-radius: 9px;
    border: 1px solid #000;
    padding: 4px 10px;
    font-size: 16px;
    cursor: pointer;
    margin: 0px 8px;
}